@font-face {
  font-family: "MinGothic";
  src: url("/font/MinGothic-Regular.woff") format("woff");
}

body {
  font-family: "SUIT", sans-serif;
  color: #222;
}

body::-webkit-scrollbar-thumb {
  background-color: #222;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #222;
}
a img {
  cursor: pointer;
}

button {
  all: unset;
}

.btn {
  color: #222;
  background-color: #fff;
  border: #222 1.5px solid;
  transition: 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #222;
  cursor: pointer;
}

.menu-btn {
  height: 35px;
  transition: 0.2s;
}
.menu-btn:hover {
  height: 35px;
  border-bottom: 1.5px #222 solid;
  cursor: pointer;
}
.menu-btn a {
  height: 35px;
  display: inline-block;
}

.menu-btn .menu-btn-icon {
  width: 20px;
  margin-left: 2px;
  margin-top: 7px;
}
.menu-btn .menu-btn-text {
  font-family: SUIT;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.8px;
  margin-left: 6px;
  margin-top: 0;
  bottom: 4.5px;
  position: relative;
  transition: 0.3s;
}

.menu-btn .menu-btn-text:hover {
  font-family: SUIT;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.8px;
  margin-left: 6px;
  margin-top: 0;
  bottom: 0px;
  position: relative;
  cursor: pointer;
}

.btn60 {
  text-align: center;
  font-size: 22px;
  all: unset;
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  padding: 15px 15px 15px 15px;
  border-bottom: 1.5px #222 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.btn60:hover {
  padding: 30px 15px 0px 15px;
  cursor: pointer;
}

.btn20 {
  text-align: center;
  font-size: 16px;
  all: unset;
  width: 56px;
  height: 20px;
  background-color: #ffffff;
  padding: 2.5px 6px;
  border-bottom: 1.5px #222 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.btn20:hover {
  padding: 5px 6px 0px 6px;
  cursor: pointer;
}

.btn30 {
  text-align: center;
  font-size: 18px;
  all: unset;
  width: fit-content;
  height: 30px;
  background-color: #ffffff;
  padding: 4px 15px;
  border-bottom: 1.5px #222 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.btn30:hover {
  padding: 8px 15px 0px 15px;
  cursor: pointer;
}

header {
  height: 70px;
  display: flex;
}

header .previous {
  width: 190px;
  margin-left: 50px;
  margin-top: 30px;
  display: block;
}

header .previous-button {
  width: 36px;
}

header .previous-logo {
  width: 160px;
  margin-left: -11px;
}

header .header-title {
  display: inline-block;
  width: 200px;
  font-size: 24px;
  margin-top: 39px;
  margin-left: calc(50vw - 340px);
  text-align: center;
  font-family: "suit";
  font-weight: 600;
  letter-spacing: 2.4px;
}
@media (max-width: 500px) {
  header {
    height: 70px;
    display: flex;
  }

  header .previous {
    width: 30px;
    margin-left: 10px;
    margin-top: 20px;
    display: block;
  }
  header .previous-logo {
    display: none;
  }

  header .previous-button {
    width: 36px;
  }

  header .header-title {
    display: inline-block;
    position: absolute;
    width: 100px;
    font-size: 24px;
    margin-top: 24px;
    margin-left: calc(50vw - 50px);
    text-align: center;
    font-family: "suit";
    font-weight: 600;
    letter-spacing: 2.4px;
  }
}
