a {
  cursor: pointer;
  text-decoration: none;
  color: #222;
}
a img {
  cursor: pointer;
}
.btn {
  color: #222;
  background-color: #fff;
  border: #222 2px solid;
  transition: 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #222;
  cursor: pointer;
}
