* {
  cursor: url("/images/dig1.png") 100 100, auto;
  font-family: "SUIT", sans-serif;
}
body {
  font-family: "SUIT", sans-serif;
}
.preview {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preview-tt {
  width: 180px;
  height: 180px;
  display: block;
}
.preview-text {
  font-size: 24px;
  margin-top: 20px;
  font-weight: 500;
}

.home-logo-box {
  height: 550px;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  top: 100px;
}

.home-logo-box .home-logo {
  width: 600px;
  display: block;
  transition: 2s;
  /* margin: 0 auto; */
  position: relative;
  top: 150px;
  left: calc(50% - 300px);
}

.home-deco .home-grass {
  position: absolute;
  top: 475px;
  /* width: 270px; */
  height: 75px;
  left: 10%;
}
.home-deco .home-tool {
  position: absolute;
  top: 470px;
  height: 100px;
  transition: 1s;
}
.home-deco .home-tool:hover {
  top: 450px;
}
.home-deco .home-tool:nth-child(2) {
  left: 75%;
}
.home-deco .home-tool:nth-child(3) {
  left: 80%;
}
.home-deco .home-tool:nth-child(4) {
  left: 85%;
}
.home-ground {
  border-top: 2px solid #222;
  width: 100%;
  height: 1600px;
}

#home-canvas {
  /* background-color: white; */
  /* background-image: url("/images/ground.png");
  background-size: 100vw; */
}
/* 
.ground {
  position: absolute;
  top: 760px;
  width: 100vw;
  z-index: 1;
} */
.home-ground a {
  color: #fff;
  display: block;

  /* 링크 폰트 */
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  transition: 0.5s;
}
.home-ground a:hover {
  font-size: 24px;
}
.home-start-button {
  width: 20px;
  height: 0;
  position: absolute;
  top: 750px;
  left: 40%;
  background-color: beige;
}
.home-start-button .buttonblack:nth-child(1) {
  width: 40px;
  height: 60px;
  margin-left: 278px;
  background-color: #222;
}
.home-start-button .buttonblack:nth-child(2) {
  width: 40px;
  height: 40px;
  margin-left: 238px;
  background-color: #222;
}
.home-start-button .buttonblack:nth-child(3) {
  width: 200px;
  height: 40px;
  margin-left: 38px;
  background-color: #222;
}
.home-start-button .buttonblack:nth-child(4) {
  width: 162px;
  height: 52px;
  margin-left: 38px;
  background-color: #222;
}
.home-start-button .buttonblack:nth-child(5) {
  width: 160px;
  height: 70px;
  margin-top: -34px;
  background-color: #222;
}
.home-start-button .home-start-button-link {
  width: 200px;
  height: 50px;
  top: 0px;
  margin: 110px 0 0 50px;
  position: absolute;
}

.home-story-button {
  position: absolute;
  width: 20px;
  height: 0px;
  top: 1000px;
  left: 10%;
  background-color: beige;
}
.home-story-button .buttonblack:nth-child(1) {
  width: 175px;
  height: 32px;
  margin-left: 35px;
  background-color: #222;
}
.home-story-button .buttonblack:nth-child(2) {
  width: 255px;
  height: 75px;
  background-color: #222;
}
.home-story-button .buttonblack:nth-child(3) {
  width: 160px;
  height: 60px;
  margin-left: 70px;
  background-color: #222;
}
.home-story-button .home-story-button-link {
  width: 200px;
  height: 50px;
  top: 0px;
  margin: 8px 0 0 46px;
  position: absolute;
}

.home-tt-button {
  width: 370px;
  height: 0;
  position: absolute;
  top: 1070px;
  left: 75%;
}
.home-tt-button .buttonblack:nth-child(1) {
  width: 245px;
  height: 100px;
  margin-left: 70px;
  background-color: #222;
}
.home-tt-button .buttonblack:nth-child(2) {
  width: 250px;
  height: 98px;
  background-color: #222;
}
.home-tt-button .home-tt-button-img {
  width: 40px;
  top: 0;
  left: 0;
  margin: 10px 0 0 80px;
  position: absolute;
  transition: 0.5s;
}
.home-tt-button .home-tt-button-img:hover {
  width: 50px;
}

.home-guide-button {
  width: 20px;
  height: 0;
  position: absolute;
  top: 1350px;
  left: 45%;
}
.home-guide-button .buttonblack:nth-child(1) {
  width: 178px;
  height: 28px;
  background-color: #222;
}
.home-guide-button .buttonblack:nth-child(2) {
  width: 210px;
  height: 100px;
  background-color: #222;
}
.home-guide-button .buttonblack:nth-child(3) {
  width: 210px;
  height: 75px;
  margin-top: -43px;
  margin-left: 70px;
  background-color: #222;
}
.home-guide-button .home-guide-button-link {
  width: 200px;
  height: 50px;
  top: 0px;
  margin: 8px 0 0 14px;
  position: absolute;
}

.home-test-button {
  width: 1px;
  height: 0;
  position: absolute;
  top: 1560px;
  left: 3%;
}

.home-test-button .buttonblack:nth-child(1) {
  width: 108px;
  height: 66px;
  margin-left: 190px;
  background-color: #222;
}
.home-test-button .buttonblack:nth-child(2) {
  width: 200px;
  height: 40px;
  margin-top: -42px;
  margin-left: 33px;
  background-color: #222;
}
.home-test-button .buttonblack:nth-child(3) {
  width: 230px;
  height: 70px;
  background-color: #222;
}
.home-test-button .buttonblack:nth-child(4) {
  width: 200px;
  height: 72px;
  margin-top: -16px;
  margin-left: 65px;
  background-color: #222;
}
.home-test-button .home-test-button-link {
  width: 200px;
  height: 50px;
  top: 0px;
  margin: 35px 0 0 45px;
  position: absolute;
}

.home-dp-button {
  width: 1px;
  height: 0;
  position: absolute;
  top: 1750px;
  left: 65%;
}
.home-dp-button .buttonblack:nth-child(1) {
  width: 188px;
  height: 37px;
  margin-left: 77px;
  background-color: #222;
}
.home-dp-button .buttonblack:nth-child(2) {
  width: 265px;
  height: 110px;
  background-color: #222;
}
.home-dp-button .buttonblack:nth-child(3) {
  width: 221px;
  height: 84px;
  margin-top: -64px;
  margin-left: 79px;
  background-color: #222;
}
.home-dp-button .home-dp-button-link {
  width: 200px;
  height: 50px;
  top: 0px;
  margin: 8px 0 0 88px;
  position: absolute;
}
