.newproject-popup {
  width: 500px;
  height: 650px;
  border: 1px #222 solid;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  top: calc(50vh - 325px);
  position: relative;
}
.modal__top {
  height: 80px;
  width: 440px;
  margin: 0 30px;
  display: flex;
}
.modal__top .modal__title {
  width: 430px;
  height: 80px;
  border-bottom: 1.5px #222 solid;
  display: flex;
}
.modal__top .modal__title .modal__icon {
  width: 36px;
  height: 36px;
  padding: 2px;
  margin-top: 23px;
}
.modal__top .modal__title .modal__text {
  font-size: 24px;
  margin: 31px 0 0 10px;
}
.modal__top .modal__close {
  width: 40px;
  height: 80px;
  margin-left: 10px;
  border-bottom: 1.5px #222 solid;
  display: inline-block;
}
.newproject-popup .btn-close {
  display: inline-block;
  width: 40px;
  height: 80px;
}
.newproject-popup .btn-close img {
  width: 24px;
  margin-top: 31px;
  margin-left: 7px;
}
/* .greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  top: 100px;
  position: relative;
} */

.new-tt {
  width: 40px;
  margin-top: 90px;
}

.newproject-text {
  margin-top: 8px;
  font-size: 20px;
  line-height: 140%; /* 28px */
}
.newproject-subtext {
  margin-top: 20px;
  font-size: 14px;
}

.projectname-inputbox .projectname-input {
  margin-top: 68px;
  width: 286px;
  height: 60px;
  border: 0;
  border-bottom: solid #222 1.5px;
  outline: none;
  font-size: 20px;
  text-align: center;
  color: #222;
}
.projectname-inputbox .projectname-input::placeholder {
  color: #888;
}
.start-btn {
  margin-top: 72px;
  /* border: 2px solid #222;

  position: relative;
  top: 180px;
  left: calc(50vw - 107px);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 214px;
  font-size: 20px;
  font-weight: 500; */
}
.startbox:hover {
  background-color: #222;
  color: #fff;
}
