.greeting {
  width: 800px;
  height: 250px;
  /* border: 1.5px solid #000; */
  display: flex;
  text-align: center;
  justify-content: center;
  left: calc(50vw - 400px);
  top: 100px;
  position: relative;
}

.greeting .new-tt {
  width: 300px;
}

.greeting .greeting-text {
  font-size: 22px;
  width: 500px;
  margin: 110px 0;
  line-height: 40px;
}
.projectname-inputbox {
  width: 600px;
  height: 170px;
  text-align: center;
  left: calc(50vw - 300px);
  position: relative;
  top: 250px;
  color: #222;
}
.projectname-inputbox .projectname-input {
  width: 300px;
  height: 50px;
  border: 0;
  border-bottom: solid #222 2px;
  outline: none;
  font-size: 24px;
  padding: 0 10px;
  text-align: center;
  color: #222;
}
.start-btn {
  border: 2px solid #222;

  position: relative;
  top: 180px;
  left: calc(50vw - 107px);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 214px;
  font-size: 20px;
  font-weight: 500;
}
.startbox:hover {
  background-color: #222;
  color: #fff;
}
