header {
  height: 70px;
  width: 100vw;
  display: flex;
  font-family: MinGothic;
}
header .m-logo {
  margin-left: 50px;
  width: 53px;
  margin-top: 26px;
}
header .m-logo .m-logo-img {
  width: 53px;
}
.project-name {
  position: relative;
  font-size: 18px;
  margin-top: 44px;
  margin-left: 20px;
}

header .main-menubox {
  margin-top: 32px;
  position: absolute;
  right: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.projectpage-sky {
  width: 100vw;
  /* height: 50vh; */
  height: 460px;
}

/* .projectpage-ground {
  width: 100vw;
  height: 500px;
  border-top: 2px #000 solid;
} */

/* 메뉴버튼 */

/* 팝업 */

.modal form {
  margin: 0 auto;
  width: 440px;
}

.modal input {
  height: 48px;
  margin-top: 5px;
  border: none;
  border-bottom: 1.2px solid #000;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.modal input::placeholder {
  font-size: 14px;
  color: #888;
  font-weight: 400;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}

/* .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 600px;
  height: 700px;
  border: 1.5px solid #000;
  padding-top: 5px;
} */

.modal .modal-content .title {
  height: 85px;
  border-bottom: 1.8px solid #000;
  margin: 0 35px;
  font-size: 24px;
  align-items: center;
  display: flex;
}

.modal .modal-content label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 25px;
  position: relative;
  text-align: left;
}

.modal .modal-content .id-search {
  /* border-bottom: 1px solid #000; */
  width: 410px;
  padding-left: 30px;
  background-image: url(/images/+.png);
  background-repeat: no-repeat;
  background-position: 0;
}

.modal .modal-content .team-list {
  margin: 20px auto 40px;
  width: 440px;
  /* padding-top: 20px; */
}

.modal .modal-content .team-list .team-list-person {
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.modal .modal-content .team-list .team-list-person .team-list-profile {
  width: 42px;
  height: 42px;
  display: flex;
  position: relative;
  margin-right: 13px;
  border-radius: 50%;
  border: 1px solid #000;
}
.user-info-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.modal .modal-content .team-list .team-list-person .team-list-name {
  font-size: 16px;
  display: flex;
}

/* todo */
.modal .modal-content .todo-form {
  display: flex;
  gap: 16.5px;
}

.modal .modal-content .todo-add {
  width: 257px;
  padding-left: 30px;
  background-image: url(/images/+.png);
  background-repeat: no-repeat;
  background-position: 0;
}
.time-box {
  width: 80px;
}
.modal .modal-content .target-time {
  width: 65px;
  margin-left: -13px;
  padding-left: 15px;
}

.modal .modal-content .times {
  font-size: 16px;
  margin-left: -48px;
}

.modal .modal-content .add-button {
  background-color: #fff;
  height: 48px;
  width: 40px;
  border-bottom: 1.3px solid #000;
  font-size: 14px;
  margin-top: 40px;
  transform: 0.3s;
}
.modal .modal-content .add-button:hover {
  background-color: #fff;
  height: 33px;
  width: 40px;
  border-bottom: 1.3px solid #000;
  font-size: 14px;
  margin-top: 55px;
}
.modal .modal-content .todo-list {
  width: 440px;
}
.modal .modal-content .todo-list label {
  margin-bottom: 10px;
}
.modal .modal-content .todo-list .team-list-person {
  height: 40px;
  width: 355px;
  padding-left: 15px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .modal .close-button {
  right: 35px;
  top: 20px;
  position: absolute;
  width: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 50px;
  font-weight: 100;
  z-index: 1;
} */

.show-modal-team {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal-todo {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.show-modal-patterns {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* 프로필 */
.projectpage-sky .profile-box {
  position: relative;
  top: 340px;
  display: flex;
  padding: 0 100px;
}

.projectpage-sky .profile-box .profile {
  margin: 0 auto;
  width: 80px;
  display: inline;
}

.projectpage-sky .profile-box .profile-img-box {
  width: 83px;
  height: 83px;

  /* border-radius: 50%; */
  /* border: 1.5px solid #000; */
}

.projectpage-sky .profile-box .profile-img-box .profile-img {
  width: 80px;
  height: 80px;
  border: 1.5px solid #000;
  border-radius: 50%;
}

.projectpage-sky .profile-box .profile-name {
  margin: -115px 0 0 52px;
  font-size: 16px;
  width: 100px;
  padding-left: 10px;
  padding-top: 1px;
  text-align: left;
  transform: rotate(-40deg);
  border: solid #fff 6px;
}

.land {
  width: calc(100vw - 100px);
  height: 40vh;
  border-top: 1.5px solid #222;
  margin-left: 50px;
}

.land .inner {
  padding-top: 20px;
  width: calc(100vw - 100px);
  height: 100%;
  /* margin: 0 auto; */
  /* margin-left: calc(5% + 15px); */
  margin-left: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, auto));
  grid-auto-rows: 30px;
  grid-gap: 10px;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.land .inner .space {
  /* border: 1px solid black; */
  position: relative;
  /* aspect-ratio: 1/1; */
}

.land .inner .space.painting {
  background-color: #222;
}

.land .inner .space .shovel {
  /* margin-top: 10px; */
  height: 100%;
  width: 1.5px;
  background-color: #222;
  position: relative;
}

.land .inner .space .letter {
  position: absolute;
  top: 5px;
  font-size: 16px;
  left: 10px;
}

.land .inner .space .popUp {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 170px;
  /* height: 240px; */
  height: fit-content;
  padding: 25px 20px 10px 20px;
  border: 1px solid #222;
  z-index: 100;
  background-color: white;
}

.land .inner .space .popUp .listItem {
  cursor: pointer;
  height: 21px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
}

.plusButton {
  width: 170px;
  padding: 1.5px;
  margin-bottom: 20px;
  font-size: 20px;
}
.plusButton:hover {
  cursor: pointer;
}

/* modal new */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content {
  text-align: center;
  position: relative;
  background-color: white;

  width: 500px;
  height: 650px;
  border: 1px #222 solid;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.modal__content .modal__top {
  height: 80px;
  width: 440px;
  display: flex;
}
.modal__content .modal__top .modal__title {
  width: 430px;
  height: 80px;
  border-bottom: 1.5px #222 solid;
  display: flex;
}
.modal__content .modal__top .modal__title .modal__icon {
  width: 36px;
  height: 36px;
  padding: 2px;
  margin-top: 23px;
}
.modal__content .modal__top .modal__title .modal__text {
  font-size: 24px;
  margin: 31px 0 0 10px;
}
.modal__content .modal__top .modal__close {
  width: 40px;
  height: 80px;
  margin-left: 10px;
  border-bottom: 1.5px #222 solid;
  display: inline-block;
}
.modal__content .modal__top .modal__close img {
  width: 24px;
  margin-top: 31px;
  cursor: pointer;
}

.modal__content .modal__section {
}
.modal__content .modal__section .modal__maintext {
  margin-top: 52px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}
.modal__content .modal__section .modal__subtext {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal__content .modal__btnbox {
  display: flex;
  margin-top: 36px;
  gap: 20px;
  justify-content: center;
}

.modal__content .input-username {
  height: 60px;
  width: 286px;
  border: none;
  border-bottom: #222 1.5px solid;
  margin-top: 73px;
  margin-bottom: 11px;
  font-size: 20px;
  text-align: center;
}
.modal__content .input-username::placeholder {
  color: #888;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

/* modal patterns */
.modal-patterns {
}
.modal-content-patterns {
  width: 840px;
  height: 650px;
  background-color: #fff;
  border: #222 1px solid;
  padding: 0 30px;
}

.modal__top__patterns {
  height: 80px;
  width: 840px;
  display: flex;
  /* margin: 0 30px; */
}
.modal__top__patterns .modal__title {
  width: 785px;
  height: 80px;
  border-bottom: 1.5px #222 solid;
  display: flex;
}
.modal__top__patterns .modal__title .modal__icon {
  width: 36px;
  height: 36px;
  padding: 2px;
  margin-top: 23px;
}
.modal__top__patterns .modal__title .modal__text {
  font-size: 24px;
  margin: 31px 0 0 10px;
}
.modal__top__patterns .modal__close {
  width: 40px;
  height: 80px;
  margin-left: 10px;
  border-bottom: 1.5px #222 solid;
  display: inline-block;
}
.modal__top__patterns .modal__close img {
  width: 24px;
  margin-top: 31px;
  cursor: pointer;
}
.modal-content-patterns .modal-patterns-inner {
  display: flex;
  gap: 20px;
}
/* .modal-content-patterns span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 20px;
  position: relative;
  text-align: left;
} */
.modal-content-patterns .patterns-block-box {
  width: 553px;
}
.patterns-sample {
  width: 553px;
  margin-top: 24px;
}
.modal-content-patterns .patterns-member-box {
  width: 267px;
}
.patterns-member-box-inner {
  margin: 34px 20px 0;
}
.patterns-member-box-inner .patterns-member {
  width: 80px;
  height: 108px;
  margin: 0 10px 30px;
  display: inline-block;
}
.patterns-member-box-inner .patterns-member .patterns-member-img {
  width: 80px;
}
.patterns-member-box-inner .patterns-member .btn20 {
  width: 64px;
}
.modal-content-patterns .btn60 {
  margin-top: -25px;
}
/* tt */
.project-tt {
  width: 40px;
  position: absolute;
  top: 490px;
}
.project-tt {
  /* position: relative; */

  animation: moveHorizontally 35s linear infinite; /* 초 동안 가로로 왔다갔다 움직임, 무한 반복 */
}

@keyframes moveHorizontally {
  0% {
    left: 50px; /* 시작 및 종료 지점의 좌표 (왼쪽 끝) */
    transform: scaleX(1);
  }
  49.5% {
    transform: scaleX(1);
  }
  50% {
    left: calc(100% - 80px); /* 중간 지점의 좌표 (오른쪽 끝) */
    transform: scaleX(-1);
  }
  99.5% {
    transform: scaleX(-1);
  }
  100% {
    left: 50px; /* 시작 및 종료 지점의 좌표 (왼쪽 끝) */
    transform: scaleX(1);
  }
}
.project-tt-text {
  opacity: 0;
}
.project-tt:hover + .project-tt-text {
  opacity: 1;
}

/* sample */
.sample-project-default {
  width: calc(100vw - 100px);
}
.sample-project {
  width: calc(100vw - 100px);
}

.sample1-1,
.sample1-2,
.sample1-3,
.sample1-4,
.sample1-5 {
  display: none;
}
